@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900');

$nunito: 'proximanova', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$capita: 'Capita', 'Times New Roman', serif;
$ssp: "Source Serif Pro", serif;
$nunito: "Nunito Sans", sans-serif;

// Fonts
$font-body: $nunito;
$font-heading: $nunito;

$font: $nunito;
$font-alt: $ssp;
