@charset "UTF-8";

// Include Foundation
@import 'settings';
@import '../../node_modules/foundation-sites/scss/foundation';

// Global styles.
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids.
@include foundation-xy-grid-classes;
@include foundation-flex-classes;

// Other components.
@include foundation-table;
@include foundation-button;

@import '00-base/**/*.scss';
@import '01-atoms/**/*.scss';
@import '02-molecules/**/*.scss';
@import '03-organisms/**/*.scss';
@import '04-templates/**/*.scss';

// Hacks to be added to patterns.
.layout__wrapper--article {
  padding: rem-calc(40 160);

  &.ssp {
    p {
      @extend .paragraph--ssp;
    }

    li {
      font-family: $ssp;
      line-height: 1.75;
      strong {
        font-family: $nunito;
      }
    }
  }
}

.red-mark {
  height: 5px;
  width: 66px;
  background-color: $red;
  margin: rem-calc(12 0 20);
}

.category-tag {
  display: inline-block;
  color: $red;
  font-weight: 700;
  text-transform: uppercase;
  margin: rem-calc(8 0);
  font-size: rem-calc(18);
}

.dateline {
  font-weight: 600;
  margin: rem-calc(0 0 24);
  text-transform: uppercase;
  font-size: rem-calc(15);
  color: $gray;
}

.layout__wrapper--primary-menu {
  background-color: #f2f2f2;
}

$menu_padding: calc((#{$grid-container-padding} * 2) - 12px);

.layout__inner--primary-menu {
  padding-right: $menu_padding !important;
  padding-left: $menu_padding !important;
}

.card-grid {
  margin-top: rem-calc(30);
}
