.address-block__wordmark {
  margin-bottom: 0.5em;

  a {
    padding: 0;
    border-bottom: none;
    &:hover {
      background: none;
    }
  }

  img {
    width: 280px;
    border: none;
  }
}
.address-block__address {
  p {
    margin: 0;
    font-size: rem-calc(13);
    line-height: 1.75;
    font-weight: 400;
  }

  .site-name {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2px;
  }

  .pipe {
    font-weight: 300;
  }

  span.mailto,
  .fa-mailto .extlink {
    display: none;
  }
}
