@mixin link {
  color: $color-link;
  text-decoration: none;
  border-bottom: 1px solid $red;

  &:hover {
    color: $black;
    border-bottom-color: $black;
    background-color: $near-white;
  }

  &:focus {
    outline: 1px solid $color-link-bg--hover;
  }
}

// Sane defaults for menu links. To be overridden as necessary.
@mixin menu-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0;

  &:hover {
    color: inherit;
    background: transparent;
  }

  &:focus {
    outline: 1px solid $color-link-bg--hover;
    text-decoration: none;
  }
}

a:not([class]),
a.link {
  @include link();
}

nav {
  a {
    @include menu-link();
  }
}

// extlinks
a:not(.button),
a.link {
  .svg-inline--fa.fa-external-link-alt,
  .svg-inline--fa.fa-envelope {
    margin: rem-calc(0 2 0 6);
    font-size: 85%;
    color: lighten($gray, 15%);
  }
}
