blockquote {
  font-family: $ssp;
  font-weight: 800;
  color: $near-black;
  font-size: rem-calc(20);
  line-height: 1.5;
  margin: rem-calc(4 40 36 40);

  &.blockquote--half {
    width: 48%;
    float: right;
    margin-right: 0;
    margin-left: rem-calc(60);
  }

  cite {
    font-family: $nunito;
    color: darken($gray, 5%);
    font-weight: 700;
    font-style: normal;
    padding-top: rem-calc(20);
    font-size: rem-calc(16);
    line-height: 1.5;

    .cite-tile {
      display: block;
      font-weight: 400;
      font-size: rem-calc(14);
      line-height: 1.25;
    }
  }
}
