blockquote {
  font-family: $ssp;
  font-weight: 700;
  color: $black;
  font-size: rem-calc(20);
  line-height: 1.75;
  margin: rem-calc(36 40);

  &.blockquote--half {
    width: 45%;
    float: right;
    margin-right: 0;
    margin-left: rem-calc(60);
  }

  cite {
    font-family: $nunito;
    color: $gray;
    font-weight: 700;
    font-style: normal;
    padding-top: rem-calc(12);

    .cite-tile {
      font-weight: 300;
      font-style: italic;
    }
  }
}
