{% if blockquote_modifier %}
	<blockquote class='blockquote blockquote--{{ blockquote_modifier }}'>
	{% else %}
		<blockquote class='blockquote'>
		{% endif %}
		{{ blockquote_content }}
		<cite>
			{{- blockquote_citation_name -}}
			{% if blockquote_citation_title %}
				<span class='cite-tile'>
					{{ blockquote_citation_title }}
				</span>
			{% endif %}
		</cite>
	</blockquote>
