//common elements
.masthead {
  @include clearfix;
}

#site-name {
  display: table;
}

.site-name__inner {
  display: table-cell;
  vertical-align: middle;
}

a.site-name__link {
  text-decoration: none;

  &:hover {
    background: none;
  }

  &:focus {
    background: none;
    outline-offset: 3px;
  }
}

.site-name__prefix {
  display: block;
  font-weight: 300;
  margin-left: 2px;
  letter-spacing: 0.0125em;
}

.site-name__slogan {
  display: block;
  margin-left: 2px;
  line-height: 1;
  padding: rem-calc(6 0 4);
}

#site-logo {
  display: none;
  float: right;

  @include breakpoint(medium) {
    display: block;
  }
}

a.site-logo__link {
  float: right;
  padding: 0;

  &:hover {
    background: none;
  }
  &:focus {
    background: none;
    outline-offset: 3px;
  }
}

//mixin for masthead--standard
@mixin masthead-standard($bg-color: $white, $text-color: $black) {
  background: $bg-color;

  #site-name {
    margin-top: rem-calc(10);
    @include breakpoint(medium) {
      padding-right: 2em;
      height: 135px;
    }
  }

  a.site-name__link {
    @include heading(40, 800, $line-height: 1);
    color: $text-color;

    &:focus {
      outline: 2px solid $text-color;
    }
  }

  a.site-name__link--long {
    font-size: rem-calc(32);
  }

  .site-name__prefix {
    font-size: rem-calc(18);
    color: $text-color;
  }

  .site-name__secondary {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    font-size: rem-calc(18);
    margin-top: rem-calc(4);
    margin-left: 2px;
    letter-spacing: 0.03em;
  }

  .site-name__slogan {
    color: $text-color;
    font-size: rem-calc(18);
    @include breakpoint(medium) {
      font-size: rem-calc(20);
    }
  }

  .site-name__image {
    width: 400px;
  }

  a.site-logo__link {
    &:focus {
      outline: 2px solid $text-color;
    }
  }

  .site-logo__image {
    width: auto;
    border: none;
    float: right;
    margin-top: rem-calc(12);
    @include breakpoint(medium) {
      height: 125px;
    }
  }
}

// Apply mixins based on class.
.masthead--standard.masthead--white {
  @include masthead-standard();
}
.masthead--standard.masthead--lt-gray {
  @include masthead-standard($near-white);
}
.masthead--standard.masthead--md-gray {
  @include masthead-standard($gray, $white);
}
.masthead--standard.masthead--dk-gray {
  @include masthead-standard($near-black, $white);
}

.masthead--ssp.masthead--white {
  @include masthead-standard();
  a.site-name__link {
    @include heading(40, 900, $ssp, $line-height: 1);
  }
}
