ul.menu--main-menu-alt {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    line-height: 1 !important;
    text-transform: uppercase;
    a {
      text-decoration: none;
      font-weight: 400;
      color: $gray-dark;
      padding: rem-calc(10 12 9);
      display: inline-block;
      font-size: rem-calc(14);

      &:hover {
        color: $white;
        background-color: $gray;
      }
      &:focus {
        outline: 2px solid $near-black;
      }
    }
  }
}
